resource "pc2data" {
                        device minor 1;
                        disk "/dev/pc2datavg/pc2datalv";
                        meta-disk internal;

                        on "{{ MASTERNODENAME }}" {
				address {{ MASTERSTORAGEIP }}:7789;
                        }
			{%- for line in WORKERNODES %}
                        on "{{ line.HOSTNAME }}" {
				address {{ line.STORAGEIP }}:7789;
                        }
			{% endfor %}
                }
